# Exploratory Data Analysis with SQL

### Dataset: Netflix Dataset from Kaggle by OctopusTeam
#### Dataset Link: *https://www.kaggle.com/datasets/octopusteam/full-netflix-dataset*

##### By: Tyler Lee
##### Date: November, 2024

___

## Importing packages, Dataset and Data Pre-processing

In [1]:
import pandas as pd
import numpy as np
import sqlite3
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('netflix_data.csv')

In [3]:
df.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,518304.0,"AT, CH, DE"
1,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1225300.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
2,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,212177.0,"AD, AE, AG, AL, AO, AT, AZ, BA, BG, BH, BM, BR..."
3,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,445354.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."
4,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1109205.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG..."

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20164 entries, 0 to 20163
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               19650 non-null  object
 1   type                20164 non-null  object
 2   genres              19896 non-null  object
 3   releaseYear         20149 non-null  float64
 4   imdbId              18864 non-null  object
 5   imdbAverageRating   18713 non-null  float64
 6   imdbNumVotes        18713 non-null  float64
 7   availableCountries  20164 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.2+ MB
None

In [5]:
print(df.describe())

        releaseYear  imdbAverageRating  imdbNumVotes
count  20149.000000       18713.000000  1.871300e+04
mean    2012.946896           6.397766  3.188359e+04
std       14.415474           1.094506  1.200018e+05
min     1913.000000           1.200000  5.000000e+00
25%     2011.000000           5.700000  3.390000e+02
50%     2018.000000           6.500000  1.624000e+03
75%     2021.000000           7.200000  1.036700e+04
max     2025.000000           9.500000  2.971050e+06

In [6]:
print(df.isnull().sum())

title                  514
type                     0
genres                 268
releaseYear             15
imdbId                1300
imdbAverageRating     1451
imdbNumVotes          1451
availableCountries       0
dtype: int64

In [7]:
print(df.shape)

(20164, 8)

### Data Cleaning

Data without specific elements such as genres, titles, or IMDB id could not be replaced by most frequent value or mean value, hence it will removed from the dataset as it would not be able to serve as any insights

In [8]:
df = df.dropna(subset=['genres'])
df = df.dropna(subset=['title'])
df = df.dropna(subset=['imdbId'])

In [9]:
# Replace missing values in 'imdbAverageRating' with the column's mean
df['imdbAverageRating'] = df['imdbAverageRating'].fillna(df['imdbAverageRating'].mean())

# Replace missing values in 'imdbNumVotes' with the column's mean
df['imdbNumVotes'] = df['imdbNumVotes'].fillna(df['imdbNumVotes'].mean())

In [10]:
# Converting Release year to Year data format
df['releaseYear'] = pd.to_datetime(df['releaseYear'], format='%Y')
df['releaseYear'] = df['releaseYear'].dt.year

In [11]:
# Rechecking for missing values and Data size
print(df.info())
print(df.isnull().sum())
print("Data size:", df.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 18863 entries, 0 to 20156
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               18863 non-null  object
 1   type                18863 non-null  object
 2   genres              18863 non-null  object
 3   releaseYear         18863 non-null  int32
 4   imdbId              18863 non-null  object
 5   imdbAverageRating   18863 non-null  float64
 6   imdbNumVotes        18863 non-null  float64
 7   availableCountries  18863 non-null  object
dtypes: float64(2), int32(1), object(5)
memory usage: 1.2+ MB
None
title                 0
type                  0
genres                0
releaseYear           0
imdbId                0
imdbAverageRating     0
imdbNumVotes          0
availableCountries    0
dtype: int64
Data size: (18863, 8)

### Improving Data insights with extra variable columns based on existing data

In [12]:
# Locating Total Available Countries
df['totalAvailableCountries'] = df['availableCountries'].apply(lambda x: len(x.split(',')) if pd.notna(x) else 0)

In [13]:
# Categorizing IMDB Rating
def rating_category(rating):
    if rating >= 8.0:
        return 'Excellent'
    elif rating >= 6.0:
        return 'Good'
    elif rating >= 4.0:
        return 'Average'
    else:
        return 'Poor'

df['ratingCategory'] = df['imdbAverageRating'].apply(rating_category)

In [14]:
# Popularity Index to determine Data's popularity based on Number of votes and Average Rating
df['popularityIndex'] = df['imdbAverageRating'] * df['imdbNumVotes']

In [15]:
# Categorizing Popularity Index for easier understanding and interpretation
scaler = MinMaxScaler(feature_range=(0, 100))
df['popularityIndexScaled'] = scaler.fit_transform(df[['popularityIndex']])

def categorize_popularity(score):
    if score >= 80:
        return 'Extremely Popular'
    elif score >= 60:
        return 'Very Popular'
    elif score >= 40:
        return 'Popular'
    elif score >= 20:
        return 'Average Popular'
    else:
        return 'Under Popular'

df['popularityCategory'] = df['popularityIndexScaled'].apply(categorize_popularity)
df['popularityIndexScaled'] = df['popularityIndexScaled'].round(1)

In [16]:
df.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries,totalAvailableCountries,ratingCategory,popularityIndex,popularityIndexScaled,popularityCategory
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,tt0119116,7.6,518304.0,"AT, CH, DE",3,Good,3939110.4,14.3,Under Popular
1,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003,tt0266697,8.2,1225300.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",68,Excellent,10047460.0,36.4,Average Popular
2,Jarhead,movie,"Biography, Drama, War",2005,tt0418763,7.0,212177.0,"AD, AE, AG, AL, AO, AT, AZ, BA, BG, BH, BM, BR...",102,Good,1485239.0,5.4,Under Popular
3,Unforgiven,movie,"Drama, Western",1992,tt0105695,8.2,445354.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",15,Excellent,3651902.8,13.2,Under Popular
4,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004,tt0338013,8.3,1109205.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG...",126,Excellent,9206401.5,33.3,Average Popular

___

## Converting Processed data to Database format

In [17]:
conn = sqlite3.connect('netflixdb.db')

df.to_sql('netflix', conn, if_exists='replace', index=False)

%load_ext sql

%sql sqlite:///netflixdb.db

In [18]:
%%sql
SELECT * FROM netflix LIMIT 5;

 * sqlite:///netflixdb.db
Done.

[('The Fifth Element', 'movie', 'Action, Adventure, Sci-Fi', 1997, 'tt0119116', 7.6, 518304.0, 'AT, CH, DE', 3, 'Good', 3939110.4, 14.3, 'Under Popular'),
 ('Kill Bill: Vol. 1', 'movie', 'Action, Crime, Thriller', 2003, 'tt0266697', 8.2, 1225300.0, 'AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM, CZ, DE, DK, EE, EG, FI, FJ, GH, GQ, GR, HR, HU, IQ, IS, IT, JO, KE, KR, KW, LB, LI, LT, LU, LV, LY, MC, MD, ME, MK, MT, MZ, NE, NG, NO, NZ, OM, PL, QA, RO, RS, SA, SC, SE, SI, SK, SM, SN, TD, TR, TZ, UA, UG, YE, ZA, ZM, ZW', 68, 'Excellent', 10047460.0, 36.4, 'Average Popular'),
 ('Jarhead', 'movie', 'Biography, Drama, War', 2005, 'tt0418763', 7.0, 212177.0, 'AD, AE, AG, AL, AO, AT, AZ, BA, BG, BH, BM, BR, BS, BY, BZ, CH, CI, CM, CO, CR, CU, CV, CY, CZ, DE, DK, DO, DZ, EC, EE, EG, ES, GF, GH, GR, GT, HK, H ... (108 characters truncated) ... T, MU, MX, MY, MZ, NG, NO, NZ, PA, PE, PF, PL, PS, PT, PY, QA, RO, RS, SA, SC, SE, SG, SI, SK, SN, SV, TC, TH, TR, TW, TZ, UA, US, UY, VE, ZA, ZM, ZW', 102, 'Good', 1485239.0, 5.4, 'Under Popular'),
 ('Unforgiven', 'movie', 'Drama, Western', 1992, 'tt0105695', 8.2, 445354.0, 'AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO, RS, SI, SK', 15, 'Excellent', 3651902.8, 13.2, 'Under Popular'),
 ('Eternal Sunshine of the Spotless Mind', 'movie', 'Drama, Romance, Sci-Fi', 2004, 'tt0338013', 8.3, 1109205.0, 'AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG, BH, BM, BO, BR, BS, BY, BZ, CH, CI, CL, CM, CO, CR, CU, CV, CY, CZ, DK, DO, DZ, EC, EE, EG, ES, FI, F ... (204 characters truncated) ... M, PA, PE, PF, PH, PK, PL, PS, PT, PY, QA, RO, RS, SA, SC, SE, SG, SI, SK, SM, SN, SV, TC, TH, TN, TR, TT, TW, TZ, UA, UG, US, UY, VE, YE, ZA, ZM, ZW', 126, 'Excellent', 9206401.5, 33.3, 'Average Popular')]

___

## Exploratory Data Analysis

#### 1. Top 10 highest rated netflix Titles Released After the Year 2010

In [19]:
%%sql

SELECT title, imdbId, releaseYear, imdbAverageRating, ratingCategory
FROM netflix
WHERE releaseYear > 2010
ORDER BY imdbAverageRating DESC
LIMIT 10;

 * sqlite:///netflixdb.db
Done.

[('Ayaanle', 'tt15134118', 2022, 9.4, 'Excellent'),
 ('Losing Lerato 2', 'tt33095169', 2024, 9.3, 'Excellent'),
 ('Flavours of Romania', 'tt13094256', 2017, 9.3, 'Excellent'),
 ("Eddie's Lil' Homies", 'tt21361900', 2024, 9.3, 'Excellent'),
 ('Mati a Zazzau', 'tt16762488', 2020, 9.2, 'Excellent'),
 ('The Chosen', 'tt5622316', 2017, 9.2, 'Excellent'),
 ('Our Planet', 'tt9253866', 2019, 9.2, 'Excellent'),
 ('Shasha and Milo', 'tt27179112', 2023, 9.2, 'Excellent'),
 ('Alone', 'tt8286888', 2018, 9.1, 'Excellent'),
 ('Jonas', 'tt7799740', 2016, 9.1, 'Excellent')]

#### 2. Top 10 netflix shows available to the max number of countries based on Average Rating

In [20]:
%%sql

SELECT title, imdbId, totalAvailableCountries, imdbAverageRating, ratingCategory
FROM netflix
WHERE totalAvailableCountries = (SELECT MAX(totalAvailableCountries) FROM netflix)
ORDER BY imdbAverageRating DESC
LIMIT 10;

 * sqlite:///netflixdb.db
Done.

[('Arcane', 'tt11126994', 131, 9.0, 'Excellent'),
 ('Blue Eye Samurai', 'tt13309742', 131, 8.7, 'Excellent'),
 ('The Comeback: 2004 Boston Red Sox', 'tt33356012', 131, 8.7, 'Excellent'),
 ('Extraordinary Attorney Woo', 'tt20869502', 131, 8.6, 'Excellent'),
 ('Derry Girls', 'tt7120662', 131, 8.5, 'Excellent'),
 ('Queer Eye', 'tt7259746', 131, 8.5, 'Excellent'),
 ('Formula 1: Drive to Survive', 'tt8289930', 131, 8.5, 'Excellent'),
 ("The Queen's Gambit", 'tt10048342', 131, 8.5, 'Excellent'),
 ('The Dragon Prince', 'tt8688814', 131, 8.3, 'Excellent'),
 ('Car Masters: Rust to Riches', 'tt8893550', 131, 8.3, 'Excellent')]

#### 3. Top 5 Under Popular Shows with the Highest Rating

In [21]:
%%sql

SELECT title, imdbId, imdbAverageRating, ratingCategory, popularityCategory
FROM netflix
WHERE popularityCategory = "Under Popular"
ORDER BY imdbAverageRating DESC
LIMIT 5;

 * sqlite:///netflixdb.db
Done.

[('Ayaanle', 'tt15134118', 9.4, 'Excellent', 'Under Popular'),
 ('Band of Brothers', 'tt0185906', 9.4, 'Excellent', 'Under Popular'),
 ('Losing Lerato 2', 'tt33095169', 9.3, 'Excellent', 'Under Popular'),
 ('Avatar: The Last Airbender', 'tt0417299', 9.3, 'Excellent', 'Under Popular'),
 ('Flavours of Romania', 'tt13094256', 9.3, 'Excellent', 'Under Popular')]

#### 4. Most imdb voted show with its available countries and Average Rating

In [22]:
%%sql

SELECT title, imdbNumVotes, imdbAverageRating, ratingCategory, totalAvailableCountries, availableCountries
FROM netflix
WHERE imdbNumVotes = (SELECT MAX(imdbNumVotes) FROM netflix);

 * sqlite:///netflixdb.db
Done.

[('The Shawshank Redemption', 2971050.0, 9.3, 'Excellent', 23, 'AD, BA, BE, BG, CA, CV, CZ, ES, HR, HU, IN, JP, MD, ME, MK, MZ, NL, PL, PT, RO, RS, SI, SK')]

#### 5. Netflix TV Series with the most imdb votes and its rating

In [23]:
%%sql

SELECT title, type, imdbAverageRating, imdbNumVotes 
FROM netflix 
WHERE type = "tv"
ORDER BY imdbNumVotes DESC
LIMIT 1;

 * sqlite:///netflixdb.db
Done.

[('Breaking Bad', 'tv', 9.5, 2242894.0)]

#### 6. The average imdb rating of all movies released on each year from 2001 to 2024

In [24]:
%%sql

SELECT releaseYear, type, ROUND(AVG(imdbAverageRating), 1) AS "Average Rating of Year", COUNT(*) AS "Total movies released"
FROM netflix
WHERE type = "movie" and releaseYear BETWEEN 2001 AND 2024
GROUP BY releaseYear, type
ORDER BY releaseYear;

 * sqlite:///netflixdb.db
Done.

[(2001, 'movie', 6.5, 132),
 (2002, 'movie', 6.4, 151),
 (2003, 'movie', 6.4, 182),
 (2004, 'movie', 6.5, 216),
 (2005, 'movie', 6.4, 211),
 (2006, 'movie', 6.4, 240),
 (2007, 'movie', 6.4, 234),
 (2008, 'movie', 6.4, 245),
 (2009, 'movie', 6.3, 273),
 (2010, 'movie', 6.3, 294),
 (2011, 'movie', 6.3, 323),
 (2012, 'movie', 6.3, 351),
 (2013, 'movie', 6.3, 446),
 (2014, 'movie', 6.3, 501),
 (2015, 'movie', 6.2, 597),
 (2016, 'movie', 6.3, 702),
 (2017, 'movie', 6.3, 857),
 (2018, 'movie', 6.2, 1031),
 (2019, 'movie', 6.1, 1026),
 (2020, 'movie', 6.1, 885),
 (2021, 'movie', 6.1, 969),
 (2022, 'movie', 6.0, 1194),
 (2023, 'movie', 6.0, 1066),
 (2024, 'movie', 6.0, 508)]

#### 7. 5 Lowest Rating for TV Series that contain the word "Love" in their title.

In [25]:
%%sql

SELECT title, type, imdbAverageRating, ratingCategory
FROM netflix
WHERE type = "tv" AND "title" LIKE '%Love%'
ORDER BY imdbAverageRating
LIMIT 5;

 * sqlite:///netflixdb.db
Done.

[('IRL: In Real Love', 'tv', 3.3, 'Poor'),
 ('What the Love! with Karan Johar', 'tv', 3.7, 'Poor'),
 ('Deep Fake Love', 'tv', 4.4, 'Average'),
 ('Love and Hip Hop: New York', 'tv', 4.8, 'Average'),
 ('Memories of Love', 'tv', 5.0, 'Average')]

#### 8. Shows that are available in less than 10 countries and have rating higher than 8.5.

In [26]:
%%sql

SELECT title, imdbAverageRating, availableCountries, totalAvailableCountries
FROM netflix
WHERE totalAvailableCountries < 10 AND imdbAverageRating > 8.5
ORDER BY totalAvailableCountries DESC;

 * sqlite:///netflixdb.db
Done.

[('Letterkenny', 8.6, 'AT, CH, DE, DK, FI, IS, LI, NO, SE', 9),
 ('Fruits Basket', 8.6, 'HK, ID, IN, MY, PH, PK, SG, TH, TW', 9),
 ("Frieren: Beyond Journey's End", 8.9, 'HK, ID, JP, KR, MY, PH, SG, TH, TW', 9),
 ('The Lord of the Rings: The Fellowship of the Ring', 8.9, 'AU, CH, IN, IT, JP, KR, NZ, SM', 8),
 ('The Lord of the Rings: The Two Towers', 8.8, 'AU, CH, IN, IT, JP, KR, NZ, SM', 8),
 ('The Lord of the Rings: The Return of the King', 9.0, 'AU, CH, IN, IT, JP, KR, NZ, SM', 8),
 ('For Our Children', 8.8, 'AU, CA, FJ, GB, GG, IE, NZ, US', 8),
 ('The On1y One', 8.8, 'HK, ID, IN, PH, PK, SG, TH, TW', 8),
 ('Scavengers Reign', 8.6, 'BM, GB, GG, GI, IE, NZ, TC, US', 8),
 ('Hey Duggee', 8.8, 'HK, ID, MY, PH, SG, TH, TW', 7),
 ('Lovely Runner', 8.6, 'ID, IN, MY, PH, PK, SG, TH', 7),
 ('ISKA', 8.6, 'HK, MY, PH, SG, TH, TW', 6),
 ('Peep Show', 8.7, 'BM, GB, GG, GI, IE, TC', 6),
 ('Mr. Bean', 8.6, 'BM, GB, GG, GI, IE, TC', 6),
 ('There Will Be People', 8.6, 'CZ, HU, MD, RO, SK, UA', 6),
 ('All Creatures Great & Small', 8.6, 'BM, GB, GG, GI, IE, TC', 6),
 ('Surau dan Silek', 8.8, 'ID, MY, PH, SG, TH', 5),
 ('The Memo', 8.8, 'ID, MY, PH, SG, TH', 5),
 ('Kingdom', 8.6, 'FR, JP, KR, LU, MC', 5),
 ('Detectorists', 8.6, 'BM, GB, GG, GI, IE', 5),
 ('Taskmaster', 9.0, 'BM, GB, GG, GI, IE', 5),
 ('The Bridge', 8.6, 'AT, CH, DE, LI', 4),
 ('The Legend of Nang Nak', 9.0, 'MY, PH, SG, TH', 4),
 ('Gomorrah', 8.6, 'AT, CH, DE, LI', 4),
 ('Feuer & Flamme: Mit Feuerwehrmnnern im Einsatz', 8.8, 'AT, CH, DE, LI', 4),
 ('Das Boot', 8.8, 'AT, CH, DE, LI', 4),
 ('999: Critical Condition', 8.7, 'BM, GB, GI, IE', 4),
 ("It's Always Sunny in Philadelphia", 8.8, 'GB, GG, IE', 3),
 ('Steins;Gate', 8.8, 'ES, JP, PT', 3),
 ("Australia's Ocean Odyssey", 9.0, 'AU, FJ, NZ', 3),
 ('I Told Sunset About You', 8.8, 'PH, SG, TH', 3),
 ("Eddie's Lil' Homies", 9.3, 'AU, FJ, NZ', 3),
 ('Barrumbi Kids', 8.8, 'AU, FJ, NZ', 3),
 ('Life Is Beautiful', 8.6, 'IT, SM', 2),
 ('Non dirlo a nessuno', 8.8, 'AD, ES', 2),
 ('Future Boy Conan', 8.8, 'IT, SM', 2),
 ('Gintama', 8.7, 'JP, KR', 2),
 ('This Is Us', 8.7, 'CA, US', 2),
 ('Flavours of Romania', 9.3, 'MD, RO', 2),
 ('Fight Club', 8.8, 'PK', 1),
 ('City of God', 8.6, 'BR', 1),
 ('A Second Chance', 8.8, 'PH', 1),
 ('The Crossing', 8.7, 'HK', 1),
 ('The Haunted House: The Sky Ghost vs Jormungandr', 8.7, 'KR', 1),
 ('Enam Batang', 8.8, 'ID', 1),
 ('Hello Jadoo: The Secret of Jeju Island', 8.7, 'KR', 1),
 ('Layar', 8.7, 'ID', 1),
 ('Cherish & Ruelle', 9.1, 'ID', 1),
 ('Us, Our Pets and the War', 8.7, 'UA', 1),
 ('Yaremchuk: Matchless World of Beauty', 8.6, 'UA', 1),
 ("Chappelle's Show", 8.8, 'US', 1),
 ('The Venture Bros.', 8.6, 'US', 1),
 ('Friday Night Lights', 8.7, 'US', 1),
 ('Plats bruts', 8.6, 'ES', 1),
 ('Dragon Ball Z', 8.8, 'JP', 1),
 ('30 for 30', 8.8, 'US', 1),
 ('Code Geass', 8.7, 'JP', 1),
 ('The Great British Baking Show', 8.6, 'US', 1),
 ('19-2', 8.6, 'CA', 1),
 ('Call the Midwife', 8.6, 'US', 1),
 ('Wentworth', 8.6, 'CA', 1),
 ('Shtisel', 8.6, 'IL', 1),
 ('Ping Pong the Animation', 8.6, 'JP', 1),
 ('Crno-bijeli svijet', 8.7, 'HR', 1),
 ('Nirvana in Fire', 8.9, 'TW', 1),
 ('Moon Lovers: Scarlet Heart Ryeo', 8.6, 'KR', 1),
 ('Justice League Unlimited', 8.7, 'US', 1),
 ('Hyper Hardboiled Gourmet Report', 8.8, 'JP', 1),
 ("Old People's Home for 4 Year Olds", 9.1, 'AU', 1),
 ('Checkout', 8.7, 'IL', 1),
 ('To Catch the Kaidash', 8.9, 'UA', 1),
 ('Teresina, S.A.', 8.7, 'ES', 1),
 ('Be Yourself', 8.6, 'KR', 1),
 ('Pr do Sol', 8.7, 'PT', 1),
 ('The Long Season', 8.8, 'TW', 1),
 ('Rainbow Bubblegem', 8.6, 'KR', 1),
 ('Shasha and Milo', 9.2, 'KR', 1)]

#### 9. Total movies and tv series data available in the database.

In [27]:
%%sql

SELECT type AS "Show Type", COUNT(*) AS "Total Data available"
FROM netflix
GROUP BY type;

 * sqlite:///netflixdb.db
Done.

[('movie', 14723), ('tv', 4140)]

#### 10. Total Shows with Rating higher than average.

In [28]:
%%sql

SELECT COUNT(*) AS "Total Shows with Rating higher than average" 
FROM netflix
WHERE imdbAverageRating > (SELECT AVG(imdbAverageRating) FROM netflix)

 * sqlite:///netflixdb.db
Done.

[(10340,)]

#### 11. Total count of shows with genres related to Comedy and Action while having higher rating than the overall average rating.

In [29]:
%%sql

SELECT genres, COUNT(*) AS "Count of Shows", ROUND(AVG(imdbAverageRating), 2) AS "Average Rating"
FROM netflix
WHERE genres IN (
    SELECT genres
    FROM netflix
    WHERE genres LIKE '%Comedy%' OR genres LIKE '%Action%'
    GROUP BY genres
    HAVING AVG(imdbAverageRating) > (SELECT AVG(imdbAverageRating) FROM netflix))
GROUP BY genres
ORDER BY "count of shows" DESC;

 * sqlite:///netflixdb.db
Done.

[('Comedy, Drama', 767, 6.49),
 ('Comedy, Drama, Romance', 605, 6.44),
 ('Action, Adventure, Animation', 505, 6.99),
 ('Action, Crime, Drama', 325, 6.44),
 ('Comedy, Crime, Drama', 160, 6.67),
 ('Action, Adventure, Drama', 152, 6.53),
 ('Comedy, Documentary', 130, 6.53),
 ('Comedy, Drama, Fantasy', 86, 6.73),
 ('Animation, Comedy, Family', 81, 6.66),
 ('Animation, Comedy, Drama', 79, 7.6),
 ('Adventure, Comedy, Drama', 74, 6.62),
 ('Comedy, Drama, Music', 67, 6.65),
 ('Action, Animation, Comedy', 61, 7.46),
 ('Action, Drama, History', 57, 6.82),
 ('Action, Animation, Drama', 44, 7.17),
 ('Comedy, Fantasy, Romance', 35, 6.59),
 ('Biography, Comedy, Drama', 35, 7.11),
 ('Animation, Comedy, Fantasy', 33, 6.85),
 ('Action, Drama, Fantasy', 32, 6.74),
 ('Action, Biography, Drama', 32, 6.96),
 ('Comedy, Drama, Musical', 30, 6.44),
 ('Animation, Comedy', 30, 6.58),
 ('Comedy, Drama, Sport', 29, 6.45),
 ('Animation, Comedy, Romance', 26, 7.28),
 ('Comedy, Drama, Mystery', 25, 6.44),
 ('Comedy, Drama, History', 24, 6.94),
 ('Action, Animation, Sci-Fi', 19, 6.46),
 ('Action, Animation, Fantasy', 17, 6.98),
 ('Action, Adventure', 16, 6.43),
 ('Action, Animation, Crime', 13, 7.11),
 ('Action, Mystery, Thriller', 12, 6.48),
 ('Action, Biography, Crime', 12, 6.89),
 ('Biography, Comedy, Crime', 11, 6.73),
 ('Comedy, Talk-Show', 10, 6.53),
 ('Action, Drama, Western', 9, 6.62),
 ('Comedy, History, Romance', 7, 6.77),
 ('Comedy, Fantasy, Music', 7, 6.86),
 ('Comedy, Drama, War', 7, 6.87),
 ('Comedy, Documentary, Drama', 7, 7.33),
 ('Animation, Comedy, Sci-Fi', 7, 6.83),
 ('Animation, Comedy, Crime', 6, 6.98),
 ('Action, Adventure, History', 6, 6.67),
 ('Action, Adventure, Documentary', 6, 7.4),
 ('Comedy, Romance, Sci-Fi', 5, 6.42),
 ('Comedy, Mystery, Romance', 5, 6.6),
 ('Comedy, Drama, Short', 5, 6.7),
 ('Action, Comedy, Mystery', 5, 6.64),
 ('Action, Mystery, Sci-Fi', 4, 6.5),
 ('Action, History, War', 4, 6.4),
 ('Comedy, Fantasy, Mystery', 3, 7.2),
 ('Comedy, Drama, Western', 3, 7.67),
 ('Comedy, Crime, Fantasy', 3, 7.5),
 ('Biography, Comedy, Documentary', 3, 7.37),
 ('Animation, Comedy, Sport', 3, 7.17),
 ('Adventure, Comedy, Sci-Fi', 3, 6.9),
 ('Action, Documentary', 3, 7.33),
 ('Action, Crime, History', 3, 6.47),
 ('Action, Animation, Sport', 3, 7.77),
 ('Thriller, Action', 2, 6.7),
 ('Comedy, Musical, War', 2, 6.4),
 ('Comedy, Fantasy, History', 2, 7.1),
 ('Comedy, Documentary, Music', 2, 6.55),
 ('Comedy, Documentary, History', 2, 7.8),
 ('Comedy, Documentary, Family', 2, 6.95),
 ('Animation, Comedy, Horror', 2, 6.8),
 ('Adventure, Comedy, Musical', 2, 6.55),
 ('Adventure, Comedy, History', 2, 6.9),
 ('Action, Drama, Musical', 2, 6.65),
 ('Action, Documentary, Drama', 2, 6.5),
 ('Action, Crime, Documentary', 2, 6.8),
 ('Action, Comedy, History', 2, 7.75),
 ('Action, Comedy, Documentary', 2, 6.75),
 ('Action, Biography, History', 2, 6.45),
 ('Action, Animation, Mystery', 2, 7.05),
 ('Action, Adventure, Romance', 2, 6.5),
 ('Drama, Comedy', 1, 7.1),
 ('Comedy, Western', 1, 7.4),
 ('Comedy, Romance, Short', 1, 7.3),
 ('Comedy, News, Talk-Show', 1, 8.3),
 ('Comedy, Music, Short', 1, 6.9),
 ('Comedy, Music, Sci-Fi', 1, 7.0),
 ('Comedy, Music, Mystery', 1, 6.8),
 ('Comedy, Horror, Talk-Show', 1, 7.7),
 ('Comedy, Game-Show', 1, 9.0),
 ('Comedy, Fantasy, Thriller', 1, 7.3),
 ('Comedy, Family, Talk-Show', 1, 8.0),
 ('Comedy, Family, Sport', 1, 6.4),
 ('Comedy, Family, Short', 1, 6.7),
 ('Comedy, Crime, Sport', 1, 6.4),
 ('Comedy, Crime, Musical', 1, 6.9),
 ('Biography, Comedy, Romance', 1, 6.7),
 ('Biography, Comedy, Music', 1, 7.4),
 ('Animation, Comedy, Mystery', 1, 6.6),
 ('Animation, Comedy, Musical', 1, 7.1),
 ('Animation, Comedy, Music', 1, 7.3),
 ('Animation, Comedy, Documentary', 1, 7.4),
 ('Animation, Biography, Comedy', 1, 8.0),
 ('Adventure, Comedy, Reality-TV', 1, 8.4),
 ('Adventure, Biography, Comedy', 1, 7.0),
 ('Action, Mystery, Romance', 1, 7.7),
 ('Action, Horror, Romance', 1, 6.5),
 ('Action, Fantasy, History', 1, 6.4),
 ('Action, Biography, Thriller', 1, 6.4),
 ('Action, Biography, Comedy', 1, 6.5),
 ('Action, Animation, Thriller', 1, 8.3),
 ('Action, Animation, History', 1, 6.7),
 ('Action, Animation', 1, 7.1)]

#### 12. Most popular genre of each year from 2001 to 2024, with the average rating of genre for the year and its available countries.

In [30]:
%%sql

WITH PopularGenre AS (
    SELECT 
        releaseYear, 
        genres, 
        AVG(imdbAverageRating) AS avg_rating, 
        SUM(totalAvailableCountries) AS totalavailcountries
    FROM netflix
    WHERE releaseYear BETWEEN 2001 AND 2024
    GROUP BY releaseYear, genres)

SELECT 
    releaseYear, 
    genres AS "Most Popular Genre", 
    ROUND(avg_rating, 2) AS "Average Rating", 
    totalavailcountries AS "Total Available Countries"
FROM PopularGenre
WHERE (releaseYear, avg_rating) IN (
    SELECT releaseYear, MAX(avg_rating)
    FROM PopularGenre
    GROUP BY releaseYear)
ORDER BY releaseYear;

 * sqlite:///netflixdb.db
Done.

[(2001, 'Adventure, Drama, Fantasy', 8.9, 8),
 (2002, 'Adventure, Drama, Fantasy', 8.8, 8),
 (2003, 'Adventure, Drama, Fantasy', 8.5, 9),
 (2003, 'Documentary, Music', 8.5, 1),
 (2004, 'Animation, Crime, Drama', 8.7, 116),
 (2004, 'Drama, Mystery', 8.7, 115),
 (2005, 'Documentary, Family, Reality-TV', 9.1, 73),
 (2006, 'Animation, Crime, Drama', 8.9, 44),
 (2007, 'Documentary, Drama', 8.4, 1),
 (2007, 'Drama, Family', 8.4, 87),
 (2008, 'Reality-TV', 8.3, 12),
 (2009, 'Game-Show, Reality-TV', 8.5, 123),
 (2010, 'Action, Adventure, Sci-Fi', 8.8, 28),
 (2011, 'Crime, Mystery, Thriller', 8.6, 4),
 (2012, 'Action, Animation, Drama', 8.6, 5),
 (2013, 'Action, Adventure, Drama', 8.5, 126),
 (2013, 'Biography, Documentary, History', 8.5, 1),
 (2013, 'Crime, Drama, Horror', 8.5, 6),
 (2014, 'Adventure, Drama, Sci-Fi', 8.7, 33),
 (2015, 'Comedy, Game-Show', 9.0, 5),
 (2016, 'Animation, Family, Musical', 8.7, 53),
 (2017, 'Action, Drama, Western', 8.2, 122),
 (2017, 'Animation, Family', 8.2, 3),
 (2018, 'Drama, Romance, Short', 9.1, 126),
 (2019, 'Documentary, History, War', 8.6, 126),
 (2019, 'Documentary, Reality-TV, Romance', 8.6, 129),
 (2020, 'Family, Talk-Show', 8.7, 126),
 (2021, 'Music', 8.45, 160),
 (2022, 'Animation, Thriller', 8.3, 11),
 (2022, 'Comedy, Documentary, Drama', 8.3, 130),
 (2023, 'Crime, Drama, Family', 8.8, 1),
 (2024, 'History, Horror, Romance', 9.0, 4)]